html {
  background: #111;
  color: #ccc;
  font-family: 'Helvetica Neue', sans-serif; 
}

a {
  color: rgb(0, 160, 160);
  cursor: pointer;
  text-decoration:underline;  
}

h1 { 
  color:  rgb(0, 160, 160); 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1;
  text-align: center; 
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto auto 100% auto;
  grid-template-areas:
    "title title"
    "nav nav"
    "header qotd"
    "downloads downloads"
    "downloads downloads"
    "footer footer";
  grid-gap: 20px;
}

@media only screen and (max-width: 600px) {

  .App {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "nav"
      "header"
      "downloads"
      "qotd"
      "footer";
  }

}

.App > div {
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 255, 255, 0.12), 0 1px 2px rgba(0, 255, 255, 0.12);
  transition: all 1.3s cubic-bezier(.25,.8,.25,1);
  background: #333;
}

.App > div:hover {
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.36), 0 4px 8px rgba(0, 255, 255, 0.36);
}


.Title {
  grid-area: title;
  text-align: center;
}

.Navbar {
  grid-area: nav;
}

.DownloadsHeader {
  grid-area: header;
}

.Downloads {
  grid-area: downloads;
}

.QuoteOfTheDay {
  grid-area: qotd;
}

.Sidebar {
  grid-area: sidebar;
}

.Footer {
  grid-area: footer;
}

.modalPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
}

.modalStyle {
    background-color: grey;
    color:black;
    border: 5px;
    margin: 0 auto;
    Width:80%;
    Height: 90%;
    padding: 30px;
    position: relative;
    overflow: auto;
}

.modalFooter {
    position: absolute;
    bottom: 20;
}