<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net471" />
  <package id="UnityAutoMoqPlus" version="3.0.0" targetFramework="net471" />
</packages>